.layout {
	display: flex;
	flex-direction: column;
	height: 100svh;

	.header {
		color: white;
		background-color: #000;
		position: fixed;
		top: 0;
		width: 100%;
		height: 22.5vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
